{% extends "admin/base_site.html" %}
{% load i18n %}
{% block userlinks %} / {% trans 'Change password' %} / <a href="../logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password change' %}
    </div>{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block extrahead %}
    <script type="text/javascript">
        function myFunction() {
            var num = document.getElementById("new_password1").value;
            var num = $("#id_new_password1").val();
            num = num.length;
            var arr = str.match(/[^\x00-\x80]/ig);
            if (arr != null) num += arr.length;
            if (num < 4) {
                alert("输入字符串超过10个字符！");
            }

        }
    </script>
{% endblock %}

{% block content %}

    <h1>{% trans 'Password change' %}</h1>

    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        <p><input type="submit" onclick="myFunction()" value="{% trans 'Change my password' %}"/></p>
    </form>

{% endblock %}
